In [17]:
import os
import pandas as pd
import xml.etree.ElementTree as ET

In [12]:
path = f"../blast_results/{os.listdir('../blast_results')[0]}"
print(path)

../blast_results/A0A1S4AUX8_blast_results.xml

In [16]:
pd.read_xml(path)

,BlastOutput_program,BlastOutput_version,BlastOutput_reference,BlastOutput_db,BlastOutput_query-ID,BlastOutput_query-def,BlastOutput_query-len,Parameters,Iteration
0,blastp,None,None,None,None,None,NaN,NaN,NaN
1,None,BLASTP 2.14.0+,None,None,None,None,NaN,NaN,NaN
2,None,None,"Stephen F. Altschul, Thomas L. Madden, Alejand...",None,None,None,NaN,NaN,NaN
3,None,None,None,nr,None,None,NaN,NaN,NaN
4,None,None,None,None,Query_26699,None,NaN,NaN,NaN
5,None,None,None,None,None,unnamed protein product,NaN,NaN,NaN
6,None,None,None,None,None,None,432.0,NaN,NaN
7,None,None,None,None,None,None,NaN,NaN,NaN
8,None,None,None,None,None,None,NaN,NaN,NaN

In [18]:
tree = ET.parse(path)
root = tree.getroot()

# Extract data from XML and store it in a list of dictionaries
data = []
for child in root:
    data.append(child.attrib)

In [19]:
df = pd.DataFrame(data)

In [20]:
df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8]